.header-bloc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.logo {
    max-width: 100%;
    width: 200px;
}

.logged-conditioning {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.connected-User a {
    color: rgb(43, 43, 43);
    text-decoration: none;
    font-weight: bolder;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.signout a {
    color: rgb(43, 43, 43);
    text-decoration: none;
    font-weight: bolder;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.notConnected{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    color: rgb(43, 43, 43);
    font-weight: bolder;
}

.fa-2x {
    margin-right: 5px;
}

@media screen and (max-width: 480px) {
    .header-bloc {
        display: block;
        text-align: center;
    }

    .logged-conditioning
    {
        width: auto;
    }
    .notConnected{
        margin: 0 auto;
    }
}